
<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/> 
		<link href="css/animations.css" rel="stylesheet" media="screen"/> 
	</head>
	<body ng-app="foodApp" ng-controller="foodCtrl">
		<table class="table table-bordered food-table" arrow-selector ng-if="showTable">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
			<tr ng-repeat="item in foodItems|filter:search" class="items" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
				<td>{{$index}}</td>
				<td>{{item.name}}</td>
				<td>{{item.price}}</td>
				<td>{{item.quantity}}</td>
			</tr>
		</table>
		<button class="btn btn-primary" ng-click="showTable = !showTable">Toggle</button>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
	<script src="js/foodCtrl.js"></script>
	</body>
</html>